@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-color: rgb(11, 17, 78);
}

h1{
  color: white;
  font-family: cursive;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(143, 234, 234);
  color: rgb(98, 14, 95);
  font-weight: 1000;
  font-size: medium;
}

.button:hover{
   color: aqua;
   background-color: orchid;
}

#big{
  width: 142px;
}

.row{
  margin: 8px 0;
}
.row input{
  background-color: rgb(96, 80, 203);
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(108, 179, 205);
    border-radius: 5px;
}